.contaier_ifras_chill {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 13%;
  min-width: 150px;
  height: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
}

.contaier_ifras_chill .container_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.contaier_ifras_chill .container_row span {
  text-align: center;
  color: #999999;
  font-size: 1rem;
  text-transform: capitalize;
}

.contaier_ifras_chill .container_row span:first-child {
  color: deepskyblue;
  font-size: 1.3rem;
}

.contaier_ifras_chill .container_row span #donvi {
  font-size: 0.7rem;
}

.contaier_ifras_chill .container_row .contaier_row_chill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6rem;
}

.contaier_ifras_chill .container_row .contaier_row_chill span {
  font-size: 0.7rem;
}

.contaier_ifras_chill .container_row .contaier_row_chill span:first-child {
  font-size: 0.7rem;
}

.contaier_ifras_chill .container_row .contaier_row_chill:first-child span:last-child {
  color: deepskyblue;
  font-weight: 900;
}

.contaier_ifras_chill .container_row .contaier_row_chill:nth-child(2) span:last-child {
  color: red;
  font-weight: 900;
}

.contaier_ifras_chill .container_border_row {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid rgba(0, 191, 255, 0.6);
  padding: 10px 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 191, 255, 0.4) inset, 0 0 5px rgba(0, 191, 255, 0.4);
          box-shadow: 0 0 5px rgba(0, 191, 255, 0.4) inset, 0 0 5px rgba(0, 191, 255, 0.4);
}

.contaier_ifras_chill .container_border_row .border {
  position: absolute;
  z-index: 100;
  width: 10px;
  height: 10px;
}

.contaier_ifras_chill .container_border_row .border_top_left {
  top: 0;
  left: 0;
  border-top: 3px solid deepskyblue;
  border-left: 3px solid deepskyblue;
}

.contaier_ifras_chill .container_border_row .border_top_right {
  top: 0;
  right: 0;
  border-top: 3px solid deepskyblue;
  border-right: 3px solid deepskyblue;
}

.contaier_ifras_chill .container_border_row .border_bottom_left {
  bottom: 0;
  left: 0;
  border-bottom: 3px solid deepskyblue;
  border-left: 3px solid deepskyblue;
}

.contaier_ifras_chill .container_border_row .border_bottom_right {
  bottom: 0;
  right: 0;
  border-bottom: 3px solid deepskyblue;
  border-right: 3px solid deepskyblue;
}
/*# sourceMappingURL=ifras_chill.css.map */