@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  overflow-x: hidden;
  outline: none;
}

html{
    ::-webkit-scrollbar{
        width: 7px;
    }
    ::-webkit-scrollbar-track{
        background: black;
    }
    ::-webkit-scrollbar-thumb{
        background: white;
    }
}

body{
    font-family: 'Roboto', sans-serif;    font-size: 62%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/image/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

.container_ifras{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 400px;
    padding: 1rem .5rem;
}